.music-player {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;

  &__circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    animation: spin 15s linear infinite;

    span {
      position: absolute;
      left: 50%;

      top: 50%;
      transform-origin: 0 0;
      font-size: 12px;
      color: #fff;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: black;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(255, 255, 255, 0.4),
      0 4px 15px rgba(0, 0, 0, 0.3);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
